.copyright {
    background-color: #1a252f;
}

.fixed {
    -ms-flex: 0 0 250px;
    flex: 0 0 250px;
}

.content-grey {
    background-color: #ebeef6;
}

hr {
    margin-top: 0.8em;
    margin-bottom: 0.8em;
}

.img-profile {
    height: 2rem;
    width: 2rem;
}

.profile-font {
    color: #050505 !important;
    font-size: 80%;
    font-weight: 400;
    font-weight: bolder;
}

.card-header {
    background-color: #d7dae1;
    border-bottom: 1px solid #929398;
}